
<div class="overview">
  <div class="feature-banner">
    <div class="feature-banner-text">
      {{ site.description }}
    </div>
    <img class="feature-banner-image" src="{{site.url}}/images/header4.png"/>
  </div>
</div>

<div class="col-xs-12 col-md-8">

<h2>Recent News</h2>

    {% for post in site.posts limit: 6 %}
      <div class="panel panel-default">
          <div class="panel-heading"><h3>{{ post.title }}</h3></div>
          <div class="panel-body">
        <p>{{ post.excerpt }}</p>
          <p class="lead"><button class="btn btn-default"><a href="{{ post.url }}">Read More</a></button></p>
          <p class="pull-right"><span class="label label-default">{{ post.tag }}</span></p>
          <ul class="list-inline"><li>{{ post.date | date_to_string }}</li></ul>
      </div>
    </div>

    {% endfor %}
  </div>
