---
layout: default
---
<div class="col-xs-12 col-md-8">
  <div class="post">

    <header class="post-header">
      <h1>{{ page.title }}</h1>
      <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %}  {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
    {{ content }}
    </article>

  </div>
</div>

<div class="col-xs-4 col-md-4">

  <div class="essay-info">
    <figure class="essay-info-avatar"><img src="{{ page.mug }}" title="Hello, nice to meet you."></figure>

    <div class="essay-info-biography">
      <h5><em>by</em> {{ page.author }}</h5>

      <p>{{ page.short_bio }}</p>
      <p>This was written on {{ page.date | date: "%B %d, %Y" }}.</p>
    </div>
  </div>

</div>
